#container{
    font-family: Arial, Helvetica, sans-serif;

    #wrapper{
        margin: auto;
        padding: 1em;
        border-radius: 0.5em;
        width: 50%;
        border: 1px black solid;

        form{
            h1{
                color: #4C4C4C;
                text-align: center;
            }
            .input_field{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: .5em 1em;

                label{
                    align-self: flex-start;
                    margin: 0.5em 0;
                    color: #4C4C4C;
                }
                input{
                    display: block;
                    padding: 0.2em 1em;
                    border-radius: 0.5em;
                    border: #4C4C4C 1px solid;
                    width: 100%;
                    height: 2em;
                    background-color: #E8F2FE;
                    font-size: 1.2em;
                }
                div{
                    color:red;
                    margin-top: .5em;
                }
            }
        }
        #button_container{
            display: flex;
            justify-content: space-around;
            
            button{
                margin: 1em .5em;
                background-color: #4C4C4C;
                color: white;
                border-radius: 0.5em;
                border: black 1px solid;
                width: 100%;
                height: 2.5em;
                font-size: 1.2em;   
            }
        }

        #list_container{
            ol{
                li{
                    color: #4C4C4C;
                    margin: .5em 1em;
                }
            }
        }

        #answer_container{
            display: flex;
            justify-content: space-around;
            
            div{
                color: #0a97b0;
                font-size: 1.5em;
                font-weight: bolder;
            }
        }
    }
}