/**********************NAVBAR SECTION*************************/

#navbar_section {
    padding-top: 0;
}

#navbar_section ul {
    margin: 5px;
}

#navbar_section li {
    float: left;
    margin: 5px;
}

#navbar_section a {
    font-family: monospace;
    font-size: 13px;
    text-decoration: underline;
}


/**********************PAGE CONTAINER*************************/

@font-face {
    font-family: "pumpkin";
    src: url("../fonts/Pumpkin Pie Lattes.ttf");
}

@font-face {
    font-family: "LemonYellowSun";
    src: url("../fonts/Lemon Yellow Sun.otf");
}

#page_container {
    font-family: "pumpkin";
}


/**********************QUESTIONS SECTION*************************/

#questions_container {
    display: flex;
    flex-flow: row wrap;
}

#questions_container>* {
    flex: 1 1 auto;
}

#questions_container div {
    font-family: "LemonYellowSun";
    text-transform: uppercase;
    align-self: center;
    margin: 0 0.21em;
    text-align: center;
}

#questions_container div:nth-child(1) {
    font-size: 87px;
    color: #ffc400;
}

#questions_container div:nth-child(2) {
    font-size: 48px;
    color: #810099;
}

#questions_container div:nth-child(3) {
    font-size: 70px;
    color: #ff9400;
}

#questions_container div:nth-child(4) {
    font-size: 37px;
    color: #00cc17;
}

#questions_container div:nth-child(5) {
    font-size: 57px;
    color: #3a33ff;
}

#questions_container div:nth-child(6) {
    font-size: 30px;
    color: #3fb0ac;
}

#questions_container div:nth-child(7) {
    font-size: 31px;
    line-height: 30px;
    color: #b56969;
}

#questions_container div:nth-child(8) {
    font-size: 39px;
    color: #dbe9d8;
}

#questions_container div:nth-child(9) {
    font-size: 37px;
    color: #cdd422;
}

#questions_container div:nth-child(10) {
    font-size: 42px;
    color: #a08b54;
}

#questions_container div:nth-child(11) {
    font-size: 29px;
    color: #677077;
}

#questions_container div:nth-child(12) {
    font-size: 36px;
    color: #9900ff;
}

#questions_container div:nth-child(13) {
    font-size: 90px;
    color: #e05915;
}

.questions:hover {
    transform: scale(1.2);
}

#carousel_image {
    width: 100%;
}

#carousel_image:hover {
    transform: scale(1.2);
}


/**********************PAYMENT SECTION*************************/

@font-face {
    font-family: "bombing";
    src: url("../fonts/Bombing.ttf");
}

#payment_section {
    background-image: url(../img/payment\ image.jpg);
    background-size: cover;
    height: 400px;
    background-position-y: bottom;
}

#payment_section .payment_text {
    font-family: "bombing";
    color: white;
    text-shadow: 3px 2px 19px #4c4c4c;
}

#payment_section #payment_methods p {
    font-size: 75px;
    margin: 0.6em 0 0 0.3em;
    text-transform: uppercase;
}

#payment_section #payment_methods #icons {
    background: #ffffff52;
    border-radius: 20px;
    padding: 8px;
    display: inline-block;
}

#payment_section #payment_methods #icons img {
    width: 80px;
    height: 80px;
    padding: 5px;
    cursor: pointer;
}

#payment_section #payment_methods #icons img:last-child {
    height: 55px;
    width: 108px;
    margin-bottom: 10px;
}

#payment_section #shipping {
    text-align: right;
}

#payment_section #shipping p {
    font-size: 45px;
    margin: 0;
}

#payment_section #shipping img {
    width: 200px;
    margin: 80px -10px;
    bottom: 0;
    right: 0;
}


/**********************WE WANT SECTION*************************/

#we_want_section {
    background: #ffe076;
    color: #16265d;
    padding: 2em;
    margin: 0;
    border-bottom: 10px solid orange;
}

#we_want_section p:first-child {
    font-size: 7em;
    margin: 0;
    text-align: center;
    line-height: 1em;
}

#we_want_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#we_want_container .we_want {
    display: flex;
}

#we_want_container .we_want p {
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}

#we_want_container .we_want p strong {
    font-size: 40px;
    font-weight: bolder;
}

#we_want_container .we_want p span {
    font-family: "LemonYellowSun";
}


/**********************PHOTO SECTION*************************/

#photo_section {
    height: 500px;
}

#photo_section>div {
    position: relative;
    height: 100%;
}

#photo_section #back {
    background-image: url(../img/back.jpg);
    background-size: 800px;
}

#photo_section #left {
    background-image: url(../img/left.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    clip-path: polygon(0% -2%, 0% 104%, 80% 27%);
    margin-top: -500px;
}

#photo_section #right {
    background-image: url(../img/right.jpg);
    background-size: 725px;
    width: 52%;
    float: right;
    clip-path: polygon(-20% 40%, 100% 99%, 100% 0%);
    margin-top: -500px;
}

#photo_section #middle {
    background-image: url(../img/middle.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 360px;
    margin: -500px auto;
}


/**********************SOCIAL NETWORKS SECTION*************************/

#social_networks_section {
    margin: 20px;
    text-align: center;
}

#social_networks_section h4 {
    font-weight: bold;
}

#social_networks_section #icons {
    width: 60%;
    margin: auto;
    max-width: 400px;
    min-width: 200px;
}

#social_networks_section #icons>li {
    float: left;
    cursor: pointer;
    height: 50px;
    width: 50px;
    margin: 0 20px;
    background-size: 240px;
    background-image: url("../img/icons/acuarela social networks.jpg");
    background-position-y: -103px;
}

#social_networks_section #icons>li:hover {
    background-position-y: -45px;
}

#social_networks_section #icons #instagram {
    background-position-x: -22px;
}

#social_networks_section #icons #facebook {
    background-position-x: -72px;
}

#social_networks_section #icons #twitter {
    background-position-x: -120px;
}

#social_networks_section #icons #whatsapp {
    background-position-x: -168px;
}


/**********************VIDEO SECTION*************************/

#video_section .col.m4 {
    display: flex;
    justify-content: center;
}